*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-screen-container {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    min-width: 320px;
}

.game-title {
    font-size: 72px;
    text-align: center;
    margin-bottom: 80px;
}

.name-field {
    min-width: 200px;
    height: 40px;
    margin-bottom: 16px;
    align-self: center;
}

#start-button {
    min-width: 200px;
    height: 40px;
    align-self: center;
}

.element-hidden {
    display: none;
}

#game-container {
    max-width: 720px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px;
}

.image-container {
    margin-bottom: 32px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}